@media only screen and (max-width: 1386px) {
  /* min-width: 80%;
      min-height: 330px; */
  /* background-image: none; */
  /* float: left; */
  /* content: ""; */
  /* clear: both; */
  /* min-width: 465px; */
  .phone__picture {
    right: 0px;
    max-width: 560px;
  }

  .advantages__inner {
    /* background-image: none; */
  }

  .advantages__list {
    margin-left: 750px;
    max-width: 500px;
  }
}

@media only screen and (max-width: 1224px) {
  .container {
    padding: 40px 50px;
  }

  .kurs__picture {
    max-width: 110px;
  }

  .phone__picture {
    right: 0px;
    max-width: 460px;
  }

  .title__text-main {
    font-size: 3rem;
  }

  .title__text-sub {
    font-size: 1.2rem;
  }

  .qr__code-text {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    padding: 40px 50px;
  }

  .kurs__picture {
    max-width: 110px;
  }

  .phone__picture {
    right: 0px;
    max-width: 460px;
  }

  .title__text-main {
    font-size: 3rem;
  }

  .title__text-sub {
    font-size: 1.2rem;
  }

  .qr__code-text {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
}




