html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  body {
    background-color: #242424;
  }

  .kurs {
    position: relative;
    height: 100%;
    background-color: #ffffff;
  }
  
  .container {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

#bm {
  position: absolute;
  max-width: 100px;
  max-height: 100px;
  align-self: center;
  width: 100%;
  height: 100%;
  
}
